<!--Ensure nav bars are visible during errors-->
<%- include ('partials/header') %>

<%- include ('partials/main_nav') %>

<!--Display error messages-->
<div class="container">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>
<%- include ('partials/bottom_nav') %>
  
<%- include ('partials/footer') %>