<%- include ('partials/header') %>

<%- include ('partials/main_nav') %>


<!-- Main content -->
<main class="container">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to the <%= title %> page</h1>

    </div>
  </div>
</main>

<%- include ('partials/bottom_nav') %>
  

<%- include ('partials/footer') %>






