<!--Include all partial ejs pages in the correct order-->

<%- include ('partials/header') %>
<%- include ('partials/main_nav') %>
<!-- Main content -->
<main class="container">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to the <span style="color: #00bdd6"><%= title %></span> page</h1>

      <%if (title == 'Home') { %>
        <%- include ('home') %>
      <% } %>

      <%if (title == 'About Me') { %>
        <%- include ('aboutMe') %>
      <% } %>

      <%if (title == 'Projects') { %>
        <%- include ('projects') %>
      <% } %>

      <%if (title == 'Services') { %>
        <%- include ('services') %>
      <% } %>

      <%if (title == 'Contact') { %>
        <%- include ('contact') %>
      <% } %>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav') %>
<%- include ('partials/footer') %>






