<%- include ("../partials/header.ejs") %>

<%- include ("../partials/main_nav.ejs") %>

<!-- Content for the edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <!-- Edit contact form-->
            <form class="form" method="POST">
                <!-- Edit contact name-->
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Contact's full name"
                    name="name" 
                    value="<%= contact.name %>"
                    required>
                </div>
                <!-- Edit phone number-->
                <div class="form-group">
                    <label for="developerTextField">Phone</label>
                    <input type="text" class="form-control"
                    id="phoneTextField"
                    placeholder="Enter contact's phone number"
                    name="phone"
                    value="<%= contact.phone %>"
                    required>
                </div>
                <!-- Edit contact email-->
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter contact's email"
                    name="email"
                    value="<%= contact.email %>"
                    required>
                </div>
                <!-- submit button-->
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                <!-- cancel button-->
                <a href="/contacts-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>


<%- include ("../partials/bottom_nav.ejs") %>  

<%- include ("../partials/footer.ejs") %>